/* Start General Edits  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* End General Edits  */

/* Start Variables */
:root {
    --decoration-color: #1A93FA;
    --main-transition-duration: .3s;
    --main-background-color: #ECECEC;
}
/* End Variables */

/* Start Container  */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screan  */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screan  */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Container  */

/* Start Header  */
header {
    box-shadow: 0 0 10px #Ddd;
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width:767px) {
    header .container {
        flex-direction: column;
    }
}

header h1{
    height: 74px;
    font-size: 30px;
    letter-spacing: .5px;
    color: var(--decoration-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .main-links{
    display: flex;
}

header .main-links > li{
    padding: 0 30px; /* i remove the padding left and right and replace it with height */
    height: 74px; /* this is better if you change the font later and in the same time conserve the height of the header*/
    display: block;
    font-size: 18px;
    position: relative;
    margin-left: 10px;
    text-align: center;
    transition: calc(var(--main-transition-duration) - .1s) linear;
    display: flex;
    align-items: center;
    font-size: 16px;
}

@media (max-width:767px) {
    header .main-links > li {
        padding: 10px;
    } 
}

header .main-links > li:hover,
header .main-links > li:hover a {
    color: var(--decoration-color);
}

header .main-links > li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
    border-top: 3px solid var(--decoration-color);
    transition: calc(var(--main-transition-duration) - .1s) linear;
    z-index: -1;
}

header .main-links > li:hover::before {
    width: 100%;
}

header .main-links > li a{
    text-decoration: none;
    color: #000;
}

/* -------------------- Start Mega menu ------------------------- */
header .container .main-links .other-links {
    width: 100%;
    background-color: #fff;
    display: grid;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 110%;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    padding: 20px 0;
    gap: 30px;
    transition: var(--main-transition-duration);
    border-bottom: 3px solid var(--decoration-color);
    z-index: 1;
}
@media (max-width:991px) {
    header .container .main-links .other-links {
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr)); 
    }
}
header .container .main-links .other-links:hover {
    visibility: visible;
    top: 100%;
}
header .container .main-links li:last-of-type:hover + div.other-links {
    visibility: visible;
    top: 100%;
}
header .container .main-links .other-links  img {
    max-width: 350px;
}
@media (max-width:991px) {
    header .container .main-links .other-links  img {
        display: none;
    }
}
header .container .main-links .other-links  ul {
    list-style: none;
}
header .container .main-links .other-links  ul li {
    padding: 15px;
    position: relative;
}
header .container .main-links .other-links  ul li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
    z-index: -1;
    transition: var(--main-transition-duration) linear;
}
header .container .main-links .other-links  ul li:hover::before {
    width: 100%;
}
header .container .main-links .other-links  ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
header .container .main-links .other-links  ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--decoration-color);
}
header .container .main-links .other-links  ul li a i {
    margin-right: 10px;
}
/* -------------------- End Mega menu ------------------------- */

/* End Header  */

/* Start Landing */
.landing {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-background-color);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: -1;
}
.landing .to-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--decoration-color);
    animation: UpDown 1s linear 0s infinite alternate;
}
@keyframes UpDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}
.landing .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.landing .container img {
    width: 300px;
    animation: UpDown 1s linear 0s infinite alternate;
}
@media (max-width:767px) {
    .landing .container img {
        display: none;
    }
}
@media (max-width:767px) {
    .landing .container .text {
        text-align: center;
    }
}      
.landing .container .text p {
    font-size: 18px;
    line-height: 1.8;
}
/* End Landing */