/* Start General Edits  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* End General Edits  */

/* Start Variables */
:root {
    --decoration-color: #1A93FA;
    --main-transition-duration: .3s;
    --main-background-color: #ECECEC;
    --text-color: #777;
    --section-padding: 100px;
    --fork-hight: 3%
}
/* End Variables */

/* Start Container  */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screan  */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screan  */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Container  */

/* Start Header  */
header {
    box-shadow: 0 0 10px #Ddd;
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width:767px) {
    header .container {
        flex-direction: column;
    }
}

header h1{
    height: 60px;
    font-size: 30px;
    letter-spacing: .5px;
    color: var(--decoration-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .main-links{
    display: flex;
}

header .main-links > li{
    padding: 0 30px; /* i remove the padding left and right and replace it with height */
    height: 60px; /* this is better if you change the font later and in the same time conserve the height of the header*/
    display: block;
    font-size: 18px;
    position: relative;
    margin-left: 10px;
    text-align: center;
    transition: calc(var(--main-transition-duration) - .1s) linear;
    display: flex;
    align-items: center;
    font-size: 16px;
}

@media (max-width:767px) {
    header .main-links > li {
        padding: 10px;
    } 
}

header .main-links > li:hover,
header .main-links > li:hover a {
    color: var(--decoration-color);
}

header .main-links > li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
    border-top: 3px solid var(--decoration-color);
    transition: calc(var(--main-transition-duration) - .1s) linear;
    z-index: -1;
}

header .main-links > li:hover::before {
    width: 100%;
}

header .main-links > li a{
    text-decoration: none;
    color: #000;
}

/* -------------------- Start Mega menu ------------------------- */
header .container .main-links .other-links {
    width: 100%;
    background-color: #fff;
    display: grid;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    top: calc(100% + 50px);
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    padding: 20px 0;
    gap: 30px;
    transition: var(--main-transition-duration);
    border-bottom: 3px solid var(--decoration-color);
    z-index: 1;
}
@media (max-width:991px) {
    header .container .main-links .other-links {
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr)); 
    }
}
header .container .main-links .other-links:hover {
    visibility: visible;
    top: calc(100% + 1px);
    opacity: 1;
}
header .container .main-links li:last-of-type:hover + div.other-links {
    visibility: visible;
    top: calc(100% + 1px);
    opacity: 1;
}
header .container .main-links .other-links  img {
    max-width: 100%;
}
@media (max-width:991px) {
    header .container .main-links .other-links  img {
        display: none;
    }
}
header .container .main-links .other-links  ul {
    list-style: none;
}
header .container .main-links .other-links  ul li {
    padding: 15px;
    position: relative;
}
header .container .main-links .other-links  ul li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
    z-index: -1;
    transition: var(--main-transition-duration) linear;
}
header .container .main-links .other-links  ul li:hover::before {
    width: 100%;
}
header .container .main-links .other-links  ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
header .container .main-links .other-links  ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--decoration-color);
}
header .container .main-links .other-links  ul li a i {
    margin-right: 10px;
}
/* -------------------- End Mega menu ------------------------- */

/* End Header  */

/* Start Landing */
.landing {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-background-color);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: -1;
}
.landing .to-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--decoration-color);
    animation: bouncing 2s linear 0s infinite alternate;
}
@keyframes bouncing {
    0%, 40%, 60%, 80%, 100% {
        transform: translateY(0);
    }
    
    50%, 70% {
        transform: translateY(10px);
    }
}
.landing .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.landing .container img {
    flex: 1;
    width: 300px;
    animation: UpDown 1s linear 0s infinite alternate;
}
@media (max-width:767px) {
    .landing .container img {
        display: none;
    }
}
@keyframes UpDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}
.landing .container .text {
    flex: 1;
}
@media (max-width:767px) {
    .landing .container .text {
        text-align: center;
    }
}      
.landing .container .text p {
    font-size: 18px;
    line-height: 1.8;
    color: var(--text-color);
}
/* End Landing */

/* Start Articles */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.articles .articles-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}
.articles .articles-content .article-card {
    box-shadow: 0px 0px 10px #DDD;
    border-radius: 4px;
    transition: var(--main-transition-duration);
}
.articles .articles-content .article-card:hover {
    box-shadow: 0px 0px 10px #BBB;
    transform: translateY(-10px);
}
.articles .articles-content .article-card img {
    max-width: 100%;
    border-radius: 4px 4px 0 0;
}
.articles .articles-content .article-card h4 {
    padding: 20px;
}
.articles .articles-content .article-card p {
    padding: 10px 20px;
    line-height: 1.7;
    border-bottom: 1px solid #EAEAEA;
    color: var(--text-color);
}
.articles .articles-content .article-card .more-info {
    padding: 20px;
    display: flex;
    color: var(--decoration-color);
    font-weight: bold;
}
.articles .articles-content .article-card .more-info a {
    flex: 1;
    color: var(--decoration-color);
    text-decoration: none;
}

.articles .articles-content .article-card:hover .more-info i {
    animation: bouncing-left-right 1s linear infinite alternate ;
}

@keyframes bouncing-left-right {
    30%,50%,70%{
        transform: translateX(0);
    }
    40%,60%{
        transform: translateX(10px);
    }
}
/* End Articles */

/* Start Gellery  */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.gallery::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    z-index: -1;
    top: 0;
    left: 0;
    clip-path: polygon(0 0,1% var(--fork-hight),2% 0,3% var(--fork-hight),4% 0,5% var(--fork-hight),6% 0,7% var(--fork-hight),8% 0,9% var(--fork-hight),10% 0,11% var(--fork-hight),12% 0,13% var(--fork-hight),14% 0,15% var(--fork-hight),16% 0,17% var(--fork-hight),18% 0,19% var(--fork-hight),20% 0,21% var(--fork-hight),22% 0,23% var(--fork-hight),24% 0,25% var(--fork-hight),26% 0,27% var(--fork-hight),28% 0,29% var(--fork-hight),30% 0,31% var(--fork-hight),32% 0,33% var(--fork-hight),34% 0,35% var(--fork-hight),36% 0,37% var(--fork-hight),38% 0,39% var(--fork-hight),40% 0,41% var(--fork-hight),42% 0,43% var(--fork-hight),44% 0,45% var(--fork-hight),46% 0,47% var(--fork-hight),48% 0,49% var(--fork-hight),50% 0,51% var(--fork-hight),52% 0,53% var(--fork-hight),54% 0,55% var(--fork-hight),56% 0,57% var(--fork-hight),58% 0,59% var(--fork-hight),60% 0,61% var(--fork-hight),62% 0,63% var(--fork-hight),64% 0,65% var(--fork-hight),66% 0,67% var(--fork-hight),68% 0,69% var(--fork-hight),70% 0,71% var(--fork-hight),72% 0,73% var(--fork-hight),74% 0,75% var(--fork-hight),76% 0,77% var(--fork-hight),78% 0,79% var(--fork-hight),80% 0,81% var(--fork-hight),82% 0,83% var(--fork-hight),84% 0,85% var(--fork-hight),86% 0,87% var(--fork-hight),88% 0,89% var(--fork-hight),90% 0,91% var(--fork-hight),92% 0,93% var(--fork-hight),94% 0,95% var(--fork-hight),96% 0,97% var(--fork-hight),98% 0,99% var(--fork-hight),100% 0,100% 100%,0% 100%)
}
.gallery .gallery-content {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}
.gallery .gallery-content .photo{
    flex-basis: 350px;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 13%), 0px 0px 10px 3px rgb(0 0 0 / 12%);
}
.gallery .gallery-content .photo::before {
    border-radius: 50%;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff7e;
    z-index: 1;
    opacity: 0;
}
.gallery .gallery-content .photo:hover::before {
    animation: opacity-pop calc(var(--main-transition-duration) * 2);
}
.gallery .gallery-content .photo img{
    max-width: 100%;
    transition: var(--main-transition-duration);
    transform: scale(1.1);
}
.gallery .gallery-content .photo:hover img {
    transform: scale(1.3) rotate(10deg);
}
@keyframes opacity-pop {
    0%,50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        width: 200%;
        height: 200%;
    }
}

/* End Gellery  */