/* Start General Edits  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* End General Edits  */

/* Start Variables */
:root {
    --decoration-color: #1A93FA;
    --main-transition-duration: .3s;
    --main-background-color: #ECECEC;
    --text-color: #777;
    --section-padding: 100px;
    --fork-hight: 2%
}
/* End Variables */

/* Start Container  */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screan  */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screan  */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Container  */

/* Start Header  */
header {
    box-shadow: 0 0 10px #Ddd;
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width:767px) {
    header .container {
        flex-direction: column;
    }
}

header h1{
    height: 60px;
    font-size: 30px;
    letter-spacing: .5px;
    color: var(--decoration-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .main-links{
    display: flex;
}

header .main-links > li{
    padding: 0 30px; /* i remove the padding left and right and replace it with height */
    height: 60px; /* this is better if you change the font later and in the same time conserve the height of the header*/
    display: block;
    font-size: 18px;
    position: relative;
    margin-left: 10px;
    text-align: center;
    transition: calc(var(--main-transition-duration) - .1s) linear;
    display: flex;
    align-items: center;
    font-size: 16px;
}

@media (max-width:767px) {
    header .main-links > li {
        padding: 10px;
    } 
}

header .main-links > li:hover,
header .main-links > li:hover a {
    color: var(--decoration-color);
}

header .main-links > li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
    border-top: 3px solid var(--decoration-color);
    transition: calc(var(--main-transition-duration) - .1s) linear;
    z-index: -1;
}

header .main-links > li:hover::before {
    width: 100%;
}

header .main-links > li a{
    text-decoration: none;
    color: #000;
}

/* -------------------- Start Mega menu ------------------------- */
header .container .main-links .other-links {
    width: 100%;
    background-color: #fff;
    display: grid;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    top: calc(100% + 50px);
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    padding: 20px 0;
    gap: 30px;
    transition: var(--main-transition-duration);
    border-bottom: 3px solid var(--decoration-color);
    z-index: 1;
}
@media (max-width:991px) {
    header .container .main-links .other-links {
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr)); 
    }
}
header .container .main-links .other-links:hover {
    visibility: visible;
    top: calc(100% + 1px);
    opacity: 1;
}
header .container .main-links li:last-of-type:hover + div.other-links {
    visibility: visible;
    top: calc(100% + 1px);
    opacity: 1;
}
header .container .main-links .other-links  img {
    max-width: 100%;
}
@media (max-width:991px) {
    header .container .main-links .other-links  img {
        display: none;
    }
}
header .container .main-links .other-links  ul {
    list-style: none;
}
header .container .main-links .other-links  ul li {
    padding: 15px;
    position: relative;
}
header .container .main-links .other-links  ul li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
    z-index: -1;
    transition: var(--main-transition-duration) linear;
}
header .container .main-links .other-links  ul li:hover::before {
    width: 100%;
}
header .container .main-links .other-links  ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
header .container .main-links .other-links  ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--decoration-color);
}
header .container .main-links .other-links  ul li a i {
    margin-right: 10px;
}
/* -------------------- End Mega menu ------------------------- */

/* End Header  */

/* Start Landing */
.landing {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-background-color);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: -1;
}
.landing .to-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--decoration-color);
    animation: bouncing 2s linear 0s infinite alternate;
}
@keyframes bouncing {
    0%, 40%, 60%, 80%, 100% {
        transform: translateY(0);
    }
    
    50%, 70% {
        transform: translateY(10px);
    }
}
.landing .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.landing .container img {
    flex: 1;
    width: 300px;
    animation: UpDown 1s linear 0s infinite alternate;
}
@media (max-width:767px) {
    .landing .container img {
        display: none;
    }
}
@keyframes UpDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}
.landing .container .text {
    flex: 1;
}
@media (max-width:767px) {
    .landing .container .text {
        text-align: center;
    }
}      
.landing .container .text p {
    font-size: 18px;
    line-height: 1.8;
    color: var(--text-color);
}
/* End Landing */

/* Start Articles */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.articles .articles-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}
.articles .articles-content .article-card {
    box-shadow: 0px 0px 10px #DDD;
    border-radius: 4px;
    transition: var(--main-transition-duration);
}
.articles .articles-content .article-card:hover {
    box-shadow: 0px 0px 10px #BBB;
    transform: translateY(-10px);
}
.articles .articles-content .article-card img {
    max-width: 100%;
    border-radius: 4px 4px 0 0;
}
.articles .articles-content .article-card h4 {
    padding: 20px;
}
.articles .articles-content .article-card p {
    padding: 10px 20px;
    line-height: 1.7;
    border-bottom: 1px solid #EAEAEA;
    color: var(--text-color);
}
.articles .articles-content .article-card .more-info {
    padding: 20px;
    display: flex;
    color: var(--decoration-color);
    font-weight: bold;
}
.articles .articles-content .article-card .more-info a {
    flex: 1;
    color: var(--decoration-color);
    text-decoration: none;
}

.articles .articles-content .article-card:hover .more-info i {
    animation: bouncing-left-right 1s linear infinite alternate ;
}

@keyframes bouncing-left-right {
    30%,50%,70%{
        transform: translateX(0);
    }
    40%,60%{
        transform: translateX(10px);
    }
}
/* End Articles */

/* Start Gellery  */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.gallery::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    z-index: -1;
    top: 0;
    left: 0;
    clip-path: polygon(0 0,1.25% var(--fork-hight),2.50% 0,3.75% var(--fork-hight),5.00% 0,6.25% var(--fork-hight),7.50% 0,8.75% var(--fork-hight),10.00% 0,11.25% var(--fork-hight),12.50% 0,13.75% var(--fork-hight),15.00% 0,16.25% var(--fork-hight),17.50% 0,18.75% var(--fork-hight),20.00% 0,21.25% var(--fork-hight),22.50% 0,23.75% var(--fork-hight),25.00% 0,26.25% var(--fork-hight),27.50% 0,28.75% var(--fork-hight),30.00% 0,31.25% var(--fork-hight),32.50% 0,33.75% var(--fork-hight),35.00% 0,36.25% var(--fork-hight),37.50% 0,38.75% var(--fork-hight),40.00% 0,41.25% var(--fork-hight),42.50% 0,43.75% var(--fork-hight),45.00% 0,46.25% var(--fork-hight),47.50% 0,48.75% var(--fork-hight),50.00% 0,51.25% var(--fork-hight),52.50% 0,53.75% var(--fork-hight),55.00% 0,56.25% var(--fork-hight),57.50% 0,58.75% var(--fork-hight),60.00% 0,61.25% var(--fork-hight),62.50% 0,63.75% var(--fork-hight),65.00% 0,66.25% var(--fork-hight),67.50% 0,68.75% var(--fork-hight),70.00% 0,71.25% var(--fork-hight),72.50% 0,73.75% var(--fork-hight),75.00% 0,76.25% var(--fork-hight),77.50% 0,78.75% var(--fork-hight),80.00% 0,81.25% var(--fork-hight),82.50% 0,83.75% var(--fork-hight),85.00% 0,86.25% var(--fork-hight),87.50% 0,88.75% var(--fork-hight),90.00% 0,91.25% var(--fork-hight),92.50% 0,93.75% var(--fork-hight),95.00% 0,96.25% var(--fork-hight),97.50% 0,98.75% var(--fork-hight),100.00% 0,100% 100%,0% 100%)
}

@media (max-width: 991px) {
    .gallery::before {
        clip-path: polygon(0 0,1.67% var(--fork-hight),3.33% 0,5.00% var(--fork-hight),6.67% 0,8.33% var(--fork-hight),10.00% 0,11.67% var(--fork-hight),13.33% 0,15.00% var(--fork-hight),16.67% 0,18.33% var(--fork-hight),20.00% 0,21.67% var(--fork-hight),23.33% 0,25.00% var(--fork-hight),26.67% 0,28.33% var(--fork-hight),30.00% 0,31.67% var(--fork-hight),33.33% 0,35.00% var(--fork-hight),36.67% 0,38.33% var(--fork-hight),40.00% 0,41.67% var(--fork-hight),43.33% 0,45.00% var(--fork-hight),46.67% 0,48.33% var(--fork-hight),50.00% 0,51.67% var(--fork-hight),53.33% 0,55.00% var(--fork-hight),56.67% 0,58.33% var(--fork-hight),60.00% 0,61.67% var(--fork-hight),63.33% 0,65.00% var(--fork-hight),66.67% 0,68.33% var(--fork-hight),70.00% 0,71.67% var(--fork-hight),73.33% 0,75.00% var(--fork-hight),76.67% 0,78.33% var(--fork-hight),80.00% 0,81.67% var(--fork-hight),83.33% 0,85.00% var(--fork-hight),86.67% 0,88.33% var(--fork-hight),90.00% 0,91.67% var(--fork-hight),93.33% 0,95.00% var(--fork-hight),96.67% 0,98.33% var(--fork-hight),100.00% 0,100% 100%,0% 100%)
    }
}
@media (max-width:767px) {
    .gallery::before {
        clip-path: polygon(0 0,2% var(--fork-hight),5% 0,7% var(--fork-hight),10% 0,12% var(--fork-hight),15% 0,17% var(--fork-hight),20% 0,22% var(--fork-hight),25% 0,27% var(--fork-hight),30% 0,32% var(--fork-hight),35% 0,37% var(--fork-hight),40% 0,42% var(--fork-hight),45% 0,47% var(--fork-hight),50% 0,52% var(--fork-hight),55% 0,57% var(--fork-hight),60% 0,62% var(--fork-hight),65% 0,67% var(--fork-hight),70% 0,72% var(--fork-hight),75% 0,77% var(--fork-hight),80% 0,82% var(--fork-hight),85% 0,87% var(--fork-hight),90% 0,92% var(--fork-hight),95% 0,97% var(--fork-hight),100% 0,100% 100%,0% 100%)
    }
}
.gallery .gallery-content {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}
.gallery .gallery-content .photo{
    flex-basis: 350px;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 13%), 0px 0px 10px 3px rgb(0 0 0 / 12%);
}
.gallery .gallery-content .photo::before {
    border-radius: 50%;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff7e;
    z-index: 1;
    opacity: 0;
}
.gallery .gallery-content .photo:hover::before {
    animation: opacity-pop calc(var(--main-transition-duration) * 2);
}
.gallery .gallery-content .photo img{
    max-width: 100%;
    transition: var(--main-transition-duration);
    transform: scale(1.1);
}
.gallery .gallery-content .photo:hover img {
    transform: scale(1.3) rotate(10deg);
}
@keyframes opacity-pop {
    0%,50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        width: 200%;
        height: 200%;
    }
}

/* End Gellery  */

/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.features .container .feature{
    border: 1px solid var(--text-color);
}
.features .container .feature img{
    max-width: 100%;
}
.features .container .feature .image{
    position: relative;
}
.features .container .feature .image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.features .container .feature .text {
    padding: 20px;
    text-align: center;
    position: relative;
}
.features .container .feature .text::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #fff;
    height: 150px;
    transform: skewY(16deg);
    width: 100%;
    transition: var(--main-transition-duration);
}
.features .container .feature:hover .text::before {
    transform: skewY(-16deg);
}
.features .container .feature h1{
    width: fit-content;
    border-bottom: 5px solid;
    margin: 30px auto;
    padding: 10px 0;
}
/* I. First Feature  */
.features .container .feature:first-child{
    --feature-color: #03A9F4;
}
.features .container .feature:first-child .image::after {
    background-color: #03A9F450;
}
.features .container .feature:first-child h1 {
    border-bottom: 5px solid var(--feature-color);
}
.features .container .feature:first-child a {
    color: var(--feature-color);
    border-color: var(--feature-color);
}
.features .container .feature:first-child a::before {
    background-color: var(--feature-color);
}
/* I. End First Feature  */

/* II. Second Feature  */
.features .container .feature:nth-child(2){
    --feature-color: #f44336;
}
.features .container .feature:nth-child(2) .image::after {
    background-color: #f4433650;
}
.features .container .feature:nth-child(2) h1 {
    border-bottom: 5px solid var(--feature-color);
}
.features .container .feature:nth-child(2) a {
    color: var(--feature-color);
    border-color: var(--feature-color);
}
.features .container .feature:nth-child(2) a::before {
    background-color: var(--feature-color);
}
/* II. End Second Feature  */

/* III. Third Feature  */
.features .container .feature:last-child{
    --feature-color: #4CAF50;
}
.features .container .feature:last-child .image::after {
    background-color: #4CAF5050;
}
.features .container .feature:last-child h1 {
    border-bottom: 5px solid var(--feature-color);
}
.features .container .feature:last-child a {
    color: var(--feature-color);
    border-color: var(--feature-color);
}
.features .container .feature:last-child a::before {
    background-color: var(--feature-color);
}
/* III. End Third Feature  */

.features .container .feature p{
    color: var(--text-color);
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8;
    padding: 20px 0;
}
.features .container .feature a{
    text-decoration: none;
    font-weight: bold;
    border: 3px solid;
    display: block;
    width: fit-content;
    margin: 20px auto 0;
    padding: 10px 20px;
    border-radius: 4px;
    position: relative;
}
.features .container .feature a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: var(--main-transition-duration);
}
.features .container .feature a:hover {
    color: #fff;
}
.features .container .feature a:hover::before {
    width: 100%;
}
/* End Features */

/* Start Testimonials */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.testimonials::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    z-index: -1;
    top: 0;
    left: 0;
    clip-path: polygon(0 0,1.25% var(--fork-hight),2.50% 0,3.75% var(--fork-hight),5.00% 0,6.25% var(--fork-hight),7.50% 0,8.75% var(--fork-hight),10.00% 0,11.25% var(--fork-hight),12.50% 0,13.75% var(--fork-hight),15.00% 0,16.25% var(--fork-hight),17.50% 0,18.75% var(--fork-hight),20.00% 0,21.25% var(--fork-hight),22.50% 0,23.75% var(--fork-hight),25.00% 0,26.25% var(--fork-hight),27.50% 0,28.75% var(--fork-hight),30.00% 0,31.25% var(--fork-hight),32.50% 0,33.75% var(--fork-hight),35.00% 0,36.25% var(--fork-hight),37.50% 0,38.75% var(--fork-hight),40.00% 0,41.25% var(--fork-hight),42.50% 0,43.75% var(--fork-hight),45.00% 0,46.25% var(--fork-hight),47.50% 0,48.75% var(--fork-hight),50.00% 0,51.25% var(--fork-hight),52.50% 0,53.75% var(--fork-hight),55.00% 0,56.25% var(--fork-hight),57.50% 0,58.75% var(--fork-hight),60.00% 0,61.25% var(--fork-hight),62.50% 0,63.75% var(--fork-hight),65.00% 0,66.25% var(--fork-hight),67.50% 0,68.75% var(--fork-hight),70.00% 0,71.25% var(--fork-hight),72.50% 0,73.75% var(--fork-hight),75.00% 0,76.25% var(--fork-hight),77.50% 0,78.75% var(--fork-hight),80.00% 0,81.25% var(--fork-hight),82.50% 0,83.75% var(--fork-hight),85.00% 0,86.25% var(--fork-hight),87.50% 0,88.75% var(--fork-hight),90.00% 0,91.25% var(--fork-hight),92.50% 0,93.75% var(--fork-hight),95.00% 0,96.25% var(--fork-hight),97.50% 0,98.75% var(--fork-hight),100.00% 0,100% 100%,0% 100%);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .container .testimonial {
    background-color: #fff;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #00000017;
}
.testimonials .container .testimonial h1{
    margin: 5px 0 10px;
    font-size: 25px;
}
.testimonials .container .testimonial span{
    color: var(--text-color);
    margin-bottom: 10px;
    display: block;
}
.testimonials .container .testimonial .image{
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    right: -25px;
    top: -30px;
    border: 10px solid var(--main-background-color)
}
.testimonials .container .testimonial .image img{
    max-width: 100%;
}
.testimonials .container .testimonial .rate{
    margin-bottom: 10px;
}
.testimonials .container .testimonial .rate .fas {
    color: gold;
}
.testimonials .container .testimonial p{
    line-height: 1.5;
    color: var(--text-color);
}
/* End Testimonials */

/* Start Team Members  */
.team-member {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.team-member .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.team-member .container .box-member{
    background-image: linear-gradient(to left , #ECECEC 50% , #F3F3F3 50%);
    background-size: 200%;
    background-position: bottom left;
    border-radius: 8px;
    padding: 40px 10px 10px;
    transition: var(--main-transition-duration);
}
.team-member .container .box-member:hover {
    background-position: bottom right;
}
.team-member .container .box-member .head{
    display: flex;
}
@media (max-width:767px) {
    .team-member .container .box-member .head {
        flex-direction: column;
    }
}
.team-member .container .box-member:hover .head img {
    filter: grayscale(1);
}
.team-member .container .box-member .head .image img{
    max-width: 100%;
    border-radius: 8px;
    transform: translateX(-30px);
    transition: var(--main-transition-duration);
}
@media (max-width:767px) {
    .team-member .container .box-member .head .image img {
        transform: translateX(0px);
    }
}
.team-member .container .box-member .head .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width:767px) {
    .team-member .container .box-member .head .social {
        flex-direction: row;
        justify-content: space-around;
    }
}
.team-member .container .box-member .head .social a{
    padding: 10px 0;
    color: #666;
}
.team-member .container .box-member .head .social i {
    transition: var(--main-transition-duration);
}
.facebook {
    color: blue;
}
.twitter {
    color: #03A9F4;
}
.youtube {
    color: red;
}
.linkedin {
    color: #03A9F4;
}
@media (max-width:767px) {
    .team-member .container .box-member .info {
        text-align: center;
    }
}
.team-member .container .box-member .info h4{
    color: var(--decoration-color);
    padding: 15px 0;
    font-size: 19px;
}
.team-member .container .box-member .info p{
    color: var(--text-color);
    text-transform: capitalize;
}

/* End Team Members  */

/* Start Services  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative; 
}
.services::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    z-index: -1;
    top: 0;
    left: 0;
    clip-path: polygon(0 0,1.25% var(--fork-hight),2.50% 0,3.75% var(--fork-hight),5.00% 0,6.25% var(--fork-hight),7.50% 0,8.75% var(--fork-hight),10.00% 0,11.25% var(--fork-hight),12.50% 0,13.75% var(--fork-hight),15.00% 0,16.25% var(--fork-hight),17.50% 0,18.75% var(--fork-hight),20.00% 0,21.25% var(--fork-hight),22.50% 0,23.75% var(--fork-hight),25.00% 0,26.25% var(--fork-hight),27.50% 0,28.75% var(--fork-hight),30.00% 0,31.25% var(--fork-hight),32.50% 0,33.75% var(--fork-hight),35.00% 0,36.25% var(--fork-hight),37.50% 0,38.75% var(--fork-hight),40.00% 0,41.25% var(--fork-hight),42.50% 0,43.75% var(--fork-hight),45.00% 0,46.25% var(--fork-hight),47.50% 0,48.75% var(--fork-hight),50.00% 0,51.25% var(--fork-hight),52.50% 0,53.75% var(--fork-hight),55.00% 0,56.25% var(--fork-hight),57.50% 0,58.75% var(--fork-hight),60.00% 0,61.25% var(--fork-hight),62.50% 0,63.75% var(--fork-hight),65.00% 0,66.25% var(--fork-hight),67.50% 0,68.75% var(--fork-hight),70.00% 0,71.25% var(--fork-hight),72.50% 0,73.75% var(--fork-hight),75.00% 0,76.25% var(--fork-hight),77.50% 0,78.75% var(--fork-hight),80.00% 0,81.25% var(--fork-hight),82.50% 0,83.75% var(--fork-hight),85.00% 0,86.25% var(--fork-hight),87.50% 0,88.75% var(--fork-hight),90.00% 0,91.25% var(--fork-hight),92.50% 0,93.75% var(--fork-hight),95.00% 0,96.25% var(--fork-hight),97.50% 0,98.75% var(--fork-hight),100.00% 0,100% 100%,0% 100%);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .card {
    text-align: center;
    background-color: #fff;
    padding: 50px 0px 0;
    counter-increment: services-count;
    position: relative;
    box-shadow: 0px 0px 10px #DDD;
    transition: var(--main-transition-duration);
}
.services .container .card:hover {
    box-shadow: 0px 0px 10px #BBB;
    transform: translateY(-10px);
}
.services .container .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--decoration-color);
    transition: var(--main-transition-duration);
}
.services .container .card:hover::after {
    width: 100%;
}
.services .container .card::before {
    content: "0" counter(services-count);
    position: absolute;
    left: 20px;
    bottom: 7px;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.services .container .card i{
    color: #ccc;
    margin-bottom: 20px;
}
.services .container .card h4{
    color: var(--decoration-color);
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.services .container .card .info{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: #fafafa;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}
.services .container .card .info::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100px;
    background-color: var(--decoration-color);
    left: -10px;
    bottom: 0;
    transform: skewX(-20deg);
}
.services .container .card .info::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 140px;
    background-color: #D5D5D5;
    transform: skewX(-20deg);
    left: 0;
    bottom: 0;
}
.services .container .card .info a{
    color: var(--decoration-color);
    text-decoration: none;
}
/* End Services  */

/* Start Skills  */
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skills  .container{
    display: flex;
    gap: 30px;
}
.skills  .container .image img{
    width: 390px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #DDD;
    transition: var(--main-transition-duration);
}
@media (max-width:991px) {
    .skills  .container .image img {
        display: none;
    }
}
.skills  .container .image img:hover {
    box-shadow: 0px 0px 10px #BBB;
    transform: translateY(-10px);
}
.skills  .container .states{
    flex: 1;
}
.skills  .container .states .prog{
    margin-bottom: 90px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.skills .container .states .prog::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    top: 30px;
}
.skills  .container .states .prog:nth-child(1):before {
    background-image: linear-gradient(to right,var(--decoration-color) 60% , #eee 60%);
}
.skills  .container .states .prog:nth-child(2):before {
    background-image: linear-gradient(to right,var(--decoration-color) 70% , #eee 70%);
}
.skills  .container .states .prog:nth-child(3):before {
    background-image: linear-gradient(to right,var(--decoration-color) 80% , #eee 80%);
}
.skills  .container .states .prog:nth-child(4):before {
    background-image: linear-gradient(to right,var(--decoration-color) 40% , #eee 40%);
}
.skills .container .states .prog::after {
    content: attr(data-progress);
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--decoration-color);
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px;
    font-size: 15px;
}
/* End Skills  */